#form {
	text-align: center;
	line-height: 30px;
	height: 80%;
	background-color: #3DD081;
}

h1 {
	color: #569A75;
	text-align: center;
}

.choices {
	text-align: center;
	line-height: 30px;
	height: 80%;
	background-color: #3DD081;
}

a:link {
  color: #569A75;
}

a:visited {
  color: #569A75;
  text-decoration: none;
}

a:hover {
  color: #3B7255;
  text-decoration: none;
}

a:active {
  color: #569A75;
  text-decoration: none;
}

span {
	font-weight: bold;
	font-size: 20px;
}

.small {
	font-size: 15px;
}