#form {
	text-align: center;
	line-height: 30px;
	height: 80%;
	background-color: #3DD081;
}

h1 {
	color: #569A75;
	text-align: center;
}

.choices {
	text-align: center;
	line-height: 30px;
	height: 80%;
	background-color: #3DD081;
}