.grid {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 25px 290px 500px 500px 100px;
  grid-column-gap: 15px;
  grid-row-gap: 70px;
}

.top {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  width: 100%;
  height: 100%;
  text-align: center;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  width: 100%;
  height: 100%;
  text-align: center;
}

.a img {
	  width: 100%;
  	height: 100%;
  	object-fit: cover;
  	cursor: pointer;
    max-height: 100%;
}

.b {
	  grid-column-start: 2;
  	grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  	width: 100%;
  	height: 100%;
}

.b img {
	  width: 100%;
  	height: 100%;
  	object-fit: cover;
  	cursor: pointer;
}

.c {
	  grid-column-start: 3;
  	grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
  	width: 100%;
  	height: 100%;
}

.c img {
	  width: 100%;
  	height: 100%;
  	object-fit: cover;
  	cursor: pointer;
}

.d {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
  width: 100%;
  height: 100%;
  text-align: center;
}

.d img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
}

.e {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
  width: 100%;
  height: 100%;
  text-align: center;
}

.e img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
}

.f {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
  width: 100%;
  height: 100%;
  text-align: center;
}

.f img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
}

.g {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: span 1;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 30px;
	line-height: 20px;
	background-color: #18F5DA;
}

.h {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 5;
  grid-row-end: span 1;
  width: 100%;
  height: 100%;
  text-align: center;
}


.box img:hover {
	opacity: 80%;
}

h1 {
  text-align: center;
  color: #1A79CC;
}

h1:hover {
  color: #09508E;
  cursor: pointer;
}

a:link {
  color: #1A79CC;
  text-decoration: none;
}

a:visited {
  color: #1A79CC;
  text-decoration: none;
}

a:hover {
  color: #09508E;
  text-decoration: none;
}

a:active {
  color: #1A79CC;
  text-decoration: none;
}
