#form {
	text-align: center;
	line-height: 30px;
	height: 80%;
	overflow: auto;
	background-color:powderblue;
}

h1 {
	color: #1A79CC;
	text-align: center;
}

.fun {
	text-align: center;
	background-color:powderblue;
	border-radius: 15px;
	margin-top: 15px;
	border: dashed;
}

.list {
	text-align: left;
}

ul {
	<ul> max-width:1%;
	margin:auto;
	text-align:left;
}

#calories {
	text-align: center;
	background-color: green;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px
}
